.header-flat-details{
  display: flex;
  align-items: center;
  padding: 30px;
}

.header-flat {
  form {
    margin: 20px 0;
    padding: 15px;
    border-radius: 3px;
  }

  h1 {
    font-size: 18px;
    margin-top: 0;
  }
}

.header-flat-owner {
  padding: 20px;
}

.flat-info {
  background-color: #F5F5F5;
  margin-top: 20px;

  h2 {
    font-size: 18px;
  }

  strong {
    margin-left: 9px;
  }
}


