.header-flat-details{
  display: flex;
  align-items: center;
  padding: 30px;
}

.header-flat {
  form {
    margin: 20px 0;
    padding: 15px;
    border-radius: 3px;
  }

  h1 {
    font-size: 18px;
    margin-top: 0;
  }
}

.header-flat-owner {
  padding: 20px;
}
