/* Footer design */
.footer {
  background-color: $gray-bg-footer;
  height: 15vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  align-items: left;
  color: $gray-text-footer;
  padding: 40px 0;

  li {
    padding: 20 20 0 5;
    font-size: 30px;
  }

  a {
    color: $gray-text-footer;
    &:hover {
             color: $yellow-hover;
    }
  }

  p {
    margin-top: 17px;
  }
}



